$brand-yellow: #ff0;

$black: #000;
$white: #fff;
$accentColor: #24d969;

$mainFont: 'brandon-grotesque', sans-serif;
// $secondaryFont: 'futura-pt-bold', sans-serif;

// media
$widescreen: 1300px;
$large: 1025px;
$big: 800px;
$med: 700px;
$small: 420px;

// TYPESCALE

$--step-up-5 : 5.653em;
$--step-up-4 : 3.998em;
$--step-up-3 : 2.827em;
$--step-up-2 : 1.999em;
$--step-up-1 : 1.414em;
// 1em
$--step-down-1 : 0.707em;
$--step-down-2 : 0.5em;


$gutter: 20px;
$gutter-large: 100px;