.heading-1 {
	font-size: $--step-up-5;
}

.heading-2 {
	font-size: $--step-up-4;
}

.heading-3 {
	font-size: $--step-up-3;
}

.heading-4 {
	font-size: $--step-up-2;
}

.heading-5 {
	font-size: $--step-up-1;
}

.heading-6 {
	font-size: $--step-down-1;
}
